@import "./var.scss";


.header_nav_bg {
  width:100vw;
  height:$nav-height;
  background-color:$nav-bg-color;
  position:absolute;
  left:0;
  z-index: 1;
}
  nav{
    position:relative;
    z-index:9;
    width:100%;
    height:$nav-height;
    background-color:  $nav-bg-color;
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
    align-items:center;
    .logo{
      //height:46px;
      width: 170px;
      transform:scale(.8)
    }
    ul{
      .active{
        background-color:$nav-hover-color;
        a{
          color:$nav-bg-color;
        }
        &:hover>a{
          color:$nav-bg-color;
        }
      }
      margin: auto 20px;
      li{
        cursor: pointer;
        font-size:$nav-fontSize;
        line-height:$nav-line-height;
        float:left;
        a{
          display:inline-block;
          padding:0 30px;
          line-height:$nav-line-height;
          &:hover{
            color:$nav-hover-color;
          }
        }
      }
    }
    input{
      height:$input-height;
      width: $input-width;
      font-size:$input-fontSize;
      padding: 0 33px 0 11px;
      border:1px solid $input-border-color;
      outline:none;
      &:-ms-input-placeholder{
        color: $placeholder-color;
        font-size:$input-fontSize;
      }
    }
    .set_cookie{
        display: inline-block;
        cursor: pointer;
        color:$nav-bg-color;
        height:38px;
        width: 122px;
        text-align: center;
        border-radius: $input-border-radius;
        line-height:38px;
        background-color: $nav-hover-color;
        border-color: $nav-hover-color;
        font-size:13px;
      &:hover{
        background-color: #67C23A;
      }
    }
    .cookie_form{
      position:absolute;
      top: $nav-height - 25px;
      right: 0;
      display: flex;
      flex-direction:column;
      input{
        border:1px solid $input-border-color;
        width: 500px;
      }
      input[type=submit]{
        background-color: $nav-bg-color;
        color: $root-fontSize;
        border-top:none;
        cursor:pointer;
        &:hover{
          color: $nav-bg-color;
          background-color:$nav-hover-color;
        }
      }
    }

    .delete_cookie{
      height:38px;
      width: 20px;
      cursor: pointer;
      color:$nav-bg-color;
      text-align: center;
      line-height:38px;
      background-color: $fail;
      border: none;
      font-size:13px;
    }

  }

