@import "./var";

.new_song_recommend{
  text-align: center;
  height:500px;
  .new_song_recommend_bg{
    position: absolute;
    left: 0;
    width: 100vw;
    height:500px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
    z-index:1;
  }
  .new_song_leave{
    width: $slider_img_width;
    position:absolute;
    z-index:10;
    h2{
      margin-top: 50px;
      margin-bottom:24px;
      font-size:30px
    }
    .song_area{
      ul{
        width:100%;
        display:flex;
        justify-content:center;
      }
      li{
        //float: left;
        padding:5px 35px;
      }
      a{font-size:1rem;}
    }
    ul{
      display: inline-block;
      li{
        cursor:default;
        a:hover{
          cursor: pointer;
          color: $nav-hover-color;
        }
      }
    }
    .song_list{
      margin:20px 0;
      .song_list_ul{
        width: 100%;
        height:260px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        .song_list_li{
          width: $slider_img_width/5;
          height: 130px;
          margin-bottom:10px;
          padding-right: 10px;
          a{
            margin-top: 15px;
            display:flex;
            justify-content: flex-start;
            align-items: flex-end;
            div{
              min-width:86px;
              height: 86px;
              overflow: hidden;
            }

            img{
              width:86px;
              height: 86px;
              transition: transform .75s;
              &:hover{
                transform: scale(1.1) ;
              }
            }
            dl{
              margin-left: 10px;
              font-size:.8rem;
              font-weight:300;
              display:flex;
              flex-direction: column;
              text-align: left;
              .song_name{

                color: $text-color;
                transition: all .1s linear;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                &:hover{
                  color: $nav-hover-color;
                }
              }
              .singer{
                color: $song_list_font-size;
                transition: all .1s linear;
                &:hover{
                  color: $nav-hover-color;
                }
              }
            }
          }

        }
      }
    }
  }
}