@import "var";

.search{
  display:flex;
  flex-direction: column;
  height: 100%;
  margin:30px;

  .search_top_text{
    display:flex;
    flex-direction: column;
    align-items: center;
    p:first-child{
      font-size:2rem;
    }
    p:nth-child(2){
      color: $warning;
      font-weight:300;
      font-size:.8rem;
      margin: 10px 0;
    }
  }
  .day_bottom{
    margin: 20px 0;
    font-size:$nav-fontSize;
    p{
      margin: 10px 0;
      font-size:1.5rem;
    }
    ul{
      display: inline-block;
      width: 100%;
      border:1px solid $input-border-color;
      border-radius:3px;
      li{
        height:70px;
        a{
          font-size: 1rem;
          cursor: default;
          line-height:70px;
          display:flex;
          justify-content:space-between;
          align-items:center;
          &:hover{
            color: $nav-hover-color;
          }
          span{
            font-weight:300;
            //border: 1px solid red;
            &:nth-child(1){
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              display: inline;
              max-width:500px;
              width:500px;
              margin-left:30px;
            }
            &:nth-child(2){
              width: 100px;
              color:$song_list_font-size;
            }
            &:nth-child(3){
              color:$song_list_font-size;
              margin-right: 50px;

            }
            //display: inline-block;
          }
        }
        &:nth-child(2n){
          background-color: $list_one_color;
        }
        &:nth-child(2n+1){
          background-color: $list_two_color;
        }

      }

    }
  }
}
