@import "./var.scss";


.main {
  .slider {
    position: relative;
    overflow: hidden;
    }
  .slider_move{
    width: 1200px;
    height: 480px;
  }
    .slider_ul {
      position:relative;
      width: $slider_img_width*6;
      li {
        float: left;
        img {
          width: $slider_img_width;
        }
      }
    }

}