$root-bg-color : rgba(243, 243, 243,1);
$text-color: #000;
$root-fontSize:16px;

//nav
$nav-bg-color: #fff;
$nav-fontSize : 18px;
$nav-line-height : 90px;
$nav-height: 90px;
$nav-hover-color : #70ac00;


$input-height:36px;
$input-width:200px;
$input-fontSize:14px;
$input-line-height:36px;
$input-border-color: #c9c9c9;
$input-border-radius:3px;

$placeholder-color: rgb(200,200,200);


$slider_img_width:1200px;

$song_list_font-size:#999999;

$list_one_color:#f9f9f9;
$list_two_color:#f5f5f5;


$footer-bg-color: #262626;
$footer-hover-color: #ff4848;


$warning:#E6A23C;
$success:#67C23A;
$fail:#F56C6C;

