
@import "reset","var","header",'slider','MusicHall','footer','player','day_rec','rank','search','my_music';

#container{
  width:1200px;
  min-width:1200px;
  margin-left:auto;
  margin-right: auto;
  overflow: hidden;
}

.clearfix:after{
  content:'';
  display:block;
  clear:both;
}
.active{
  a{
    color: $nav-hover-color;
  }
}


.load_ico{
  width: 100%;
  .loading{
    width: 100%;
    font-size: 50px;
    margin: 20px auto;
  }
  .load_rotate{
    animation: loading 1s cubic-bezier(.68,.33,.68,.51) infinite;
  }
  @keyframes loading {
    0%{
      transform: rotate(0);
    }
    100%{
      transform: rotate(360deg);
    }
  }
}
.song_isvip{
  display: inline;
  color: $warning!important;
  margin-left: 10px;
}
.tip{
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 51;
  border-radius: 2px;
  text-align: center;
  background-color: $warning;
  color: #fff;
  padding: 15px;
  box-shadow:  0 0 6px rgba(#000,.4);
  max-width: 400px;
}